body {
    font-family: Helvetica !important;
    height: 100% !important;
}

nav.navbar, div.jumbotron {
    background-color: #FFFFFF !important;
    margin: 0 !important;
}

#navigation-header {
    padding: 0px !important;
}

#charcoal-bar {
    background-color: #373737;
    height: 12px;
}

#palegold-bar {
    background-color: #DDD4BC;
    height: 12px;
}

.navbar-header {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 480px) {
    .navbar-default {
        float: none !important;
        text-align: center !important;
    }
    .navbar-header {
        float: none !important;
    }
}

.bio-container {
    text-align: center !important;
}

.name {
    font-weight: bold !important;
}

.intro {
    font-weight: lighter !important;
}