body {
    font-family: Helvetica !important;
    background-color: #F4F4F4 !important;
    height: 100% !important;
}

#navigation-header {
    padding: 0px !important;
}

#charcoal-bar {
    background-color: #373737;
    height: 18px;
}

#palegold-bar {
    background-color: #C0B283;
    height: 18px;
}

#navigation-bar {
    padding: 0px !important;
    margin: auto !important;
    border: 0px !important;
}