body {
    font-family: Helvetica !important;
    height: 100% !important;
}

#navigation-header {
    padding: 0px !important;
}

#charcoal-bar {
    background-color: #373737;
    height: 18px;
}

#palegold-bar {
    background-color: #DDD4BC;
    height: 18px;
}

#navigation-bar {
    padding: 0px !important;
    margin: auto !important;
    border: 0px !important;
    width: 100% !important;
    text-align: center !important;
}

.navbar-header {
    display: inline-block !important;
    float: none !important;
}

#navigation-bar-about {
    float: left !important;
}

#navigation-bar-contact {
    float: right !important;
}