<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
        <meta name = 'description' content = "Jeremy Muhia's Website">
        <meta name = 'keywords' content = 'Jeremy, Muhia'>
        <meta name = 'author' content = 'Jeremy Muhia'>
        <title>vegan with the afro: {% block title %} home {% endblock %}</title>
    {% endblock %}

    <link type = 'text/css' rel = 'stylesheet' href = '../static/stylesheet.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
</head>
<body>
    {% block navigation %}
        <div class="container-fluid" id="navigation-header">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="charcoal-bar"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="palegold-bar"></div>
        </div>
        <nav class="container-fluid navbar navbar-default" id="navigation-bar">
            <div class="navbar-header pull-left" id="navigation-bar-about">
                <a class="navbar-text" href="/about">ABOUT</a>
            </div>
            <div class="navbar-header pull-right" id="navigation-bar-social">
                <a class="navbar-text" href="#">SOCIAL</a>
            </div>
            <div class="navbar-header pull-right" id="navigation-bar-contact">
                <a class="navbar-text" href="#">CONTACT</a>
            </div>
        </nav>
    {% endblock %}

    {% for breaks in range(10) %}
        <br>
    {% endfor %}

    {% block about %}
        <div class="jumbotron" id="about">
            <div class="container-fluid bio-container">
                <div class="bio-container name">
                    <h1 class="bio-container">Jeremy Muhia</h1>
                </div>
                {% for breaks in range(5) %}
                    <br>
                {% endfor %}
                <div class="bio-container intro">
                    <p class="bio-container">
                        Hello World!
                        {% for breaks in range(5) %}
                            <br>
                        {% endfor %}
                        roll tide roll // no animal products // kenyan diaspora
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% for breaks in range(10) %}
        <br>
    {% endfor %}

    {% block social %}
        <div class="container-fluid social-section">

            {% for dictionary in social_data %}
                <div class="container social-logos">
                    <a href="{{ dictionary["url"] }}" class="social-link" target="_blank">
                        <img src="/static/social_icons/{{ dictionary["img_location"] }}" alt="dictionary["social_site"]" class="social-img"/>
                        <h3>{{ dictionary["social_site"] }}</h3>
                    </a>
                </div>
            {% endfor %}

        </div>
    {% endblock %}

    {% for breaks in range(10) %}
        <br>
    {% endfor %}

    {% block contact %}
        <div class="container-fluid" id="contact">

        </div>
    {% endblock %}
</body>
</html>
