<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
        <meta name = 'description' content = "Jeremy Muhia's Website">
        <meta name = 'keywords' content = 'Jeremy, Muhia'>
        <meta name = 'author' content = 'Jeremy Muhia'>
        <title>vegan with the afro: {% block title %} home {% endblock %}</title>
    {% endblock %}
    <link type = 'text/css' rel = 'stylesheet' href = '../static/stylesheet.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    {% block about %}
        <div class="jumbotron" id="about">
            <div class="container-fluid bio-container">
                <div class="bio-container name">
                    <h1 class="bio-container">jeremy muhia</h1>
                </div>
                {% for breaks in range(5) %}
                    <br>
                {% endfor %}
                <div class="bio-container intro">
                    <p class="bio-container">
                        hello, world!
                        {% for breaks in range(5) %}
                            <br>
                        {% endfor %}
                        i'm a Kenyan-American computer science student at nyu. i enjoy alabama football and being vegan.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% for breaks in range(10) %}
        <br>
    {% endfor %}

    {% block social %}
        <div class="container-fluid social-section top-row">
            {% for item in range(0, 3) %}
                <div class="container social-logos">
                    <a href="{{ social_data[item]["url"] }}" class="social-link" target="_blank">
                        <img src="/static/social_icons/{{ social_data[item]["img_location"] }}" alt="social_data[item]["social_site"]" class="social-img"/>
                        <h3 class="social-link">{{ social_data[item]["social_site"] }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>
