<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
        <meta name = 'description' content = "Jeremy Muhia's Website">
        <meta name = 'keywords' content = 'Jeremy, Muhia'>
        <meta name = 'author' content = 'Jeremy Muhia'>
        <title>Vegan with the Afro: {% block title %} Home {% endblock %}</title>
    {% endblock %}

    <link type = 'text/css' rel = 'stylesheet' href = '../static/stylesheet.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
</head>
<body>
    {% block navigation %}
        <div class="container-fluid" id="navigation-header">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="charcoal-bar"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="palegold-bar"></div>
        </div>
        <nav class="container-fluid navbar navbar-default" id="navigation-bar">
            <div class="navbar-header pull-left" id="navigation-bar-about">
                <a class="navbar-text" href="#">ABOUT</a>
            </div>
            <div class="navbar-header pull-right" id="navigation-bar-social">
                <a class="navbar-text" href="#">SOCIAL</a>
            </div>
            <div class="navbar-header pull-right" id="navigation-bar-contact">
                <a class="navbar-text" href="#">CONTACT</a>
            </div>
        </nav>
    {% endblock %}

    {% block about %}
        <div class="jumbotron" id="about">
            <div class="container-fluid bio-container">
                <div class="bio-container">
                    <h2 class="bio-container">Jeremy Muhia</h2>
                </div>
                <div class="bio-container">
                    <p>Hello World! Thank you for visiting.<br>I'm Jeremy and I'm a junior studying Computer Science at New York University.</p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block social %}
        <div class="container-fluid" id="social">

        </div>
    {% endblock %}

    {% block contact %}
        <div class="container-fluid" id="contact">

        </div>
    {% endblock %}
</body>
</html>