<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
    <meta name = 'description' content = "Jeremy Muhia's Website">
    <meta name = 'keywords' content = 'Jeremy, Muhia'>
    <meta name = 'author' content = 'Jeremy Muhia'>
    <title>Vegan With the Afro</title>
    <link rel = 'shortcut icon' type = 'image/x-icon' href = '/Site Logos/Vegan Afro Icon.ico'/>
    <link type = 'text/css' rel = 'stylesheet' href = 'stylesheet.css'/>
    <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'/>
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
</head>
<body>

</body>
</html>